.wordsContainer {
	max-width: 50%;
	margin: 0 auto;
	background-color: rgba(192, 192, 192, 0.459);
	padding: 20px;
	border-radius: 8px;
}
.wordsContainer span {
	font-size: 17pt;
}
.typeInput {
	display: block;
	margin: 0 auto;
	font-size: 18pt;
	text-align: center;
}
.timeContainer {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.time {
	font-size: 28pt;
}
.containerRestartResult {
	/* background-color: black; */
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
}
.buttonRestart {
	margin-bottom: 10px;
}
